syntax: glob
*.pyc
*.kate-swp
*.so

MANIFEST

lda_gibbs/lda_gibbs.html
lda_gibbs/lda_gibbs.wiki
lda_var/lda_var.html
lda_var/lda_var.wiki
rlda/rlda.html
rlda/rlda.wiki
gcp/gcp.html
gcp/gcp.wiki
swood/swood.html
swood/swood.wiki
kde_inc/kde_inc.html
kde_inc/kde_inc.wiki
gmm/gmm.html
gmm/gmm.wiki
dpgmm/dpgmm.html
dpgmm/dpgmm.wiki
p_cat/p_cat.html
p_cat/p_cat.wiki
utils/utils.html
utils/utils.wiki
dp_al/dp_al.html
dp_al/dp_al.wiki
dp_utils/dp_utils.html
dp_utils/dp_utils.wiki
dhdp/dhdp.html
dhdp/dhdp.wiki
smp/smp.html
smp/smp.wiki
ddhdp/ddhdp.html
ddhdp/ddhdp.wiki
svm/svm.html
svm/svm.wiki

df/df.html
df/*.png
df/df.wiki

video/video.html
video/video.wiki
video/profile.csv

ms/ms.html
ms/ms.wiki
